<div class="container">
  <div class="row center">
    <div class="col">
      <h5 class="white-text">Frilansutvecklare.se</h5>
      <p class="grey-text text-lighten-4">
        Frilansutvecklare.se är det självklara valet för både frilansutvecklare och personer som är på jakt efter utvecklare.
        Tjänsten är designad för att vara enkel att använda och göra processen att hitta utvecklare
        eller jobb så smidig den kan bli.
      </p>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">

  </div>
</div>
